@import url(http://fonts.googleapis.com/css?family=Russo+One|Righteous);

/*fonts*/
.russo-one {font-family: 'Russo One', sans-serif;}
.righteous {font-family: 'Righteous', cursive;}

/*headings*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Righteous";
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -90px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 90px;
}

#footer {
  background-color: #f0f0f0;
}

/* responsive CSS fixes */
@media (max-width: 767px) {
  body {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*remove BS rounded borders*/
* {
  -webkit-border-radius: 0 !important;
 -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

/*content*/
.page-fluid {
  margin: 0 auto;
  max-width: 990px;
}

.media-container {
  background-color: #dbdfe3;
  height: 100%;
  width: 100%;
  max-height: 230px;
}

.inner-container {
  padding-left: 10px;
}

.media-thumbnail {
  text-align: right;
  max-height: 220px;
}